<!DOCTYPE html>
<html>
<head>
  <title>Test</title>  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="statusContainer">
    <div id="status">Status info</div>
  </div>
  <h1 id="login">Test</h1>
  <form id="testForm">
    <label for="text">Test:</label>
    <input type="text" id="text" name="text">
    <button type="submit">Go</button>    
  </form>

  <script>

const testForm = document.getElementById('testForm');

fetch('/get', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json'
    }
})    .then(response => response.json())
    .then(data => {
      data.map(x => { document.getElementById("status").innerText = document.getElementById("status").innerText + ", " + x.el });      
  });




testForm.addEventListener('submit', async (event) => {
  event.preventDefault();

  const test = document.getElementById('text').value;
  
  try {
      const response = await fetch('/test', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'   
        },
        body: `text=${test}`
      });

      location.reload();

      
    } catch (error) {
      console.error('Test error:', error);
      alert('Server error');
    }
});
    
</script>
</body>
</html>